body {
  background-color: rgb(60, 60, 60);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* ======================== GAMELIST ======================== */
.gamelist-container ul
{
  list-style: none;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  border: solid 10px rgb(35, 35, 35);
}
.gamelist-container li
{
  margin: 0;
  padding: 0;
}
.gamelist-text
{
  padding: 10px;
}
.gamelist-item, .gamelist-item-expanded
{
  padding: 15px;
  border: solid 2px rgb(35, 35, 35);
  background-color: rgb(50, 50, 50);
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
}
.gamelist-item-expanded
{
  height: 500px;
}
.gamelist-item h5, .gamelist-item h6
{
  padding: 0;
  margin: 0 0 4px 0;
}
.gamelist-item h5, .gamelist-item-expanded h5
{
  color: rgb(152, 152, 255);
}
.gamelist-item-expanded h5, .gamelist-item-expanded h6
{
  padding: 0;
  margin: 5px 0 10px 0;
}
.gamelist-item-expanded p
{
  margin-top: 20px;
}
.gamelist-item-expanded a
{
  color: inherit;
}
.gamelist-item button
{
  border: 0;
  padding: 0;
  margin: 0;
  background-color: inherit;
  color: inherit;
  text-align: inherit;
  width: 100%;
  height: 100%;
  outline: none;
}
.gamelist-item:hover
{
  background-color: rgb(70, 70, 70);
}
.gamelist-image
{
  height: 15vh;
  min-height: 120px;
  width: auto;
  margin: 10px 10px 10px 0;
}